<div class="flex flex-col justify-center items-center m-24">
  <form
    nz-form
    [formGroup]="form"
    class="w-80 border border-inherit rounded-md p-6"
  >
    <p class="font-sans font-semibold text-lg text-center mb-4">Login</p>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTpl">
        <app-input
          formControlName="username"
          [type]="'email'"
          [placeholder]="'you@gmail.com'"
        ></app-input>
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="username.errors?.['required']"
            >This field is required.</ng-container
          >
          <ng-container
            *ngIf="!username.errors?.['required'] && username.errors?.['email']"
            >Invalid email format.</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="This field is required.">
        <app-input
          formControlName="password"
          [type]="'password'"
          [placeholder]="'password'"
        ></app-input>
      </nz-form-control>
    </nz-form-item>
    <div class="flex flex-row justify-between mb-2">
      <div class="flex flex-col">
        <label nz-checkbox>
          <span>Remember me</span>
        </label>
      </div>
      <div class="flex flex-col">
        <a class="float-right text-blue-700">Forgot password</a>
      </div>
    </div>
    <app-button (onClick)="submitForm()" [label]="'Login'"></app-button>
    Or
    <a class="text-blue-700">register now!</a>
  </form>
</div>
